body,
html,
#app {
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;
}

#rete-container {
  width: 40%;
  background: #202225;
  color: #ddd;
}

#gpu-canvas {
  flex: 1;
  background: black;
}