html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #1e1e1e;
}

#app {
  display: flex;
  width: 100%;
  height: 100%;
}

#rete-container {
  width: 60%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0.2);
}

#gpu-canvas {
  width: 40%;
  height: 100%;
  background-color: rgba(0, 0, 255, 0.2);
}